.gpt3__navbar-sign button,
.gpt3__navbar-menu_container-links-sign button {
  padding: 0.5rem 1rem;
  background: #ff4820;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}
